<div class="main">
  <header>
    <app-search (newKeywordEvent)="search($event)"></app-search>
  </header>
  <div class="top-grossing-app-wrap">
    <div class="top-grossing-app-title">
      <span>Recommend</span>
    </div>
    <div class="top-grossing-app-content">
      <app-horizontal-app 
        *ngFor="let item of grossingApps" 
        [imgUrl]="item.image"
        [name]="item.name"
        [category]="item.category"
        ></app-horizontal-app>
    </div>
  </div>

  <div class="top-free-app-wrap">
    <div class="top-free-app" *ngFor="let item of searchApps; let i = index;">
      <app-vertical-app
      [index]="i + 1"
      [imgUrl]="item.image"
      [name]="item.name"
      [category]="item.category"
      [rating]="item.rating"
      [ratingCount]="item.ratingCount"></app-vertical-app>
    </div>
  </div>
</div>